%tr
  %td
    %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(relationship.followed_user.email_address.downcase)}?s=40")
    = link_to relationship.followed_user.full_name, user_path(relationship.followed_user)
  %td.extra-padding= relationship.followed_user.queue_items.count
  %td.extra-padding= relationship.followed_user.followers.count
  %td.extra-padding
    = link_to relationships_path, method: :delete do
      %i.glyphicon.glyphicon-remove
